
 


<%= simple_form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  
   <%= f.error_notification %>
  
    <%= f.input :email_address, :label=>"Your Email:", :placeholder=>"Your Email", :input_html => { :class => "enroll_input col-xs-4"}, :required => true   %>
  
  <%= error_span(@question[:email_address]) %>
   <%= f.input :full_name, :label=>"Your Name:", :placeholder=>"Your Name", :input_html => { :class => "enroll_input col-xs-4 "}, :required => true   %>
  <%= error_span(@question[:full_name]) %>

   <%= f.input :event_name, :label=>"Event Name:", :placeholder=>"Event Name", :input_html => { :class => "enroll_input col-xs-4 "}, :required => true   %>
   
  <%= error_span(@question[:event_name]) %>
  
 
     <%= f.input :event_description , :label=>"Event Description :", :placeholder=>"Event Description ", :input_html => { :class => "enroll_input col-xs-4 "}, :required => true   %>
  <%= error_span(@question[:event_description]) %>
  <%= f.input :event_date, :label=>"Date* (mm/dd/yyyy):" %>
  <%= error_span(@question[:event_date]) %>
  <%= f.input :start_time, :label=>"Event Start Time:*  24hour format",as: :time  %>
  <%= error_span(@question[:start_time]) %>
  <%= f.input :end_time, :label=>"Event End Time:*  24hour format",as: :time   %>
  <%= error_span(@question[:end_time]) %>
  <%= f.input :taking_place, :label=>"Where will your event be taking place?" , :prompt=>["Please Select" ],:collection=>[ ['At Our Church', 'At Our Church' ], ['Somewhere Else..', 'Somewhere Else..' ]  ],  :input_html => { :class => "enroll_input col-xs-1 "}%>
  
 <%= error_span(@question[:taking_place]) %>
  

 <div id="taking_place_where" >
	 
  <%= f.input :taking_place_where , :label=>"In which room is your event?"%>
  <%= error_span(@question[:taking_place_where]) %>
 
 </div>
 <% if error_span(@question[:taking_place_address]).present? %>
 yes error
 <%end%>
   <div id="taking_place_address" >
  <%= f.input :taking_place_address , :label=>"What is the Venue Name and Address?"%>
  <%= error_span(@question[:taking_place_address]) %>

 </div>
 
   <%= f.input :registration_required,  :as => :radio_buttons, :label=>"Is registration required?*"  %>
  <%= error_span(@question[:registration_required]) %>
  
   <div id="registration_required_where" >
  <%= f.input :registration_required_where, :label=>"How does someone register? (Phone number, website, etc.)*"%>
  <%= error_span(@question[:registration_required_where]) %>

 </div>
 
 
 
 
   <%= f.input :how_to_market,   :label=>"How would you like your event promoted?*"  %>
  <%= error_span(@question[:how_to_market]) %>
  
 

  <%= f.button :submit, "Submit your Event", :class => 'btn btn-primary outline ' %> 

 
<% end %>
