<%- model_class = Question -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @question.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @question.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:middle_initial) %>:</strong></dt>
  <dd><%= @question.middle_initial %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @question.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @question.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:postal_code) %>:</strong></dt>
  <dd><%= @question.postal_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong></dt>
  <dd><%= @question.phone_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email_address) %>:</strong></dt>
  <dd><%= @question.email_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:full_name) %>:</strong></dt>
  <dd><%= @question.full_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_name) %>:</strong></dt>
  <dd><%= @question.event_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_description) %>:</strong></dt>
  <dd><%= @question.event_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_date) %>:</strong></dt>
  <dd><%= @question.event_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_time) %>:</strong></dt>
  <dd><%= @question.start_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_time) %>:</strong></dt>
  <dd><%= @question.end_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:taking_place) %>:</strong></dt>
  <dd><%= @question.taking_place %></dd>
  <dt><strong><%= model_class.human_attribute_name(:taking_place_where) %>:</strong></dt>
  <dd><%= @question.taking_place_where %></dd>
  <dt><strong><%= model_class.human_attribute_name(:registration_required) %>:</strong></dt>
  <dd><%= @question.registration_required %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              questions_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_question_path(@question), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              question_path(@question),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
