<div class="row">  
	<div class="col-sm-8  ">
	 
	 
	  <%= link_to image_tag("Full-name-forms-logo.png",  :target => "_blank"),  "http://www.churchmarketingideas.com"
	  %>
	  
		 <%= image_tag("iphone-A-&-B.png", :class =>"img pull-center", :alt => "" ) %>
	</div>
	 
	 
	<div class="col-sm-4">
	 
		
		 <%= image_tag("Get-this-tool-free.png", :class =>"img pull-center", :alt => "" ) %>
		
		<br><p class=" white_text">
		[Yes, our event form is free to use. Premium features are also available]</p>
		<div class="authform">
			
			<%= simple_form_for(:user, :url => registration_path(:user)) do |f| %>
			
			<h3>Sign up</h3> 
			 <%= render :partial => './devise/registrations/user_form',  :locals => {:f => f } %>	
			<br><br> 
			 
			<%= f.submit "Let's Get Started!", :class => 'outline button center' %>
			<% end %>
		</div>
	 
	</div>
</div>
	
	 
