    <div class="row">  
 <div class="col-sm-12">
 
	
 <%= render :partial => 'first_with_signup' %>	
	
	<div id="question">
	</div>
	
	
 <div class="row">  
	 <div class="col-sm-12 ">
		 <hr class="et_pb_module et_pb_space et_pb_divider et_pb_divider_0 et-hide-mobile"> 
		 
		 <h1 style="text-align: center; "><strong>What’s included with my FREE event form?</strong></h1>
	 </div>
 </div>
 
 

	 
 <div class="row ">  
	
	
	 <div class="col-sm-6">
		 <div class="block">		
			 <h3>1. Your Event Form:</h3>
			 <p>Try out your event request form:</p>
			 <p></p>
	 
			 <h1></h1><span>(we'll send this sample form to the email address so you can see what the results will look like)</span>
			 <%= render :partial => 'questions/form', :object => @question %>
	 
		 </div>	  
	 
	 </div>
   
	 <div class="col-sm-6 white_text">
	 
	 
			 
				
	 <h3>2. Your&nbsp;Unique Form Address:</h3>
	 <p><em>
		 
		  <%= image_tag("Address-Bar.jpg", :class =>"img pull-center", :alt => "Address-Bar" ) %>
		 
		  </em></p>
	 <p class='main_page_med_text'>Link to this page from a button on your website, or give out your direct address to whoever needs it.</p>

	 			 <br>
				
 			 <br>
				
	 <h3>3. Event Request Emails directly to your inbox:</h3>
	 <p>
		  <%= image_tag("Laptop-email-received.png", :class =>"img pull-center", :alt => "Laptop-email-received" ) %>
		   
	 </p>

   	 			 <br>
				
    			 <br> 
				 
				  <!--  <div class=" ">
					  <%= image_tag("Try-Premium.png", :class =>"img pull-center", :alt => "Laptop-email-received" ) %>
	 				  
 	 </div> -->
 </div>  <!-- row end -->
	 
	 
	 
	 
	<!-- 
	 
	  
	 
	 <%= render :partial => 'center_text' %>  -->
	 
 </div>
</div>
 	 
	 
	 
	 
	  
   	  <div class="row">  
   	 <div class="col-sm-12">
	<%= render :partial => 'contact/form' %>
	  
	 
	  
	  </div>
	 </div>
 
 
  
					
 			 
			 
 				
 	 

 	 