<br><h1>Event Request Received </h1>

<br><h3>The following contact message has been sent on your form on CMIForms.com: </h3>


<p>
 <strong> 
  Name:  </strong> <%= @event_submission.full_name %> <br> <strong> 
  Event Name:  </strong> <%= @event_submission.event_name %> <br> <strong>
  Event Description:  </strong> <%= @event_submission.event_description %> <br> <strong>
  Event Date:  </strong><%= date_email(@event_submission.event_date)  %>  <br> <strong>
  Start Time:  </strong> <%= time_email(@event_submission.start_time) %> <br> <strong>
  End Time:  </strong> <%= time_email(@event_submission.end_time) %> <br> <strong>
  It will take place:  </strong> <%= @event_submission.taking_place %> <br> <strong>
  It will take place here:  </strong> <%= @event_submission.taking_place_where %> <br> <strong>
  Registration Required?:  </strong> <%= if_yes_or_no(@event_submission.registration_required) %>  <br> <strong> 
  How to Market the Event: </strong> <%= @event_submission.how_to_market%> <br>  
   
<br> <br> 
</p>