  <%- model_class = Detail -%>
  
  
 <div class="block"> 
   
  
  <% if ready?(current_user)%> 
   

You questionaire is active and ready to be used:

 <%= link_to "#{current_user.subdomain}", new_question_url(subdomain: current_user.subdomain) %>

 <% else %>
Your account is also ready to go:

clikc here to complete your application:

add link to detail edit 

 <% end %>



<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:church_name) %>:</strong></dt>
  <dd><%= @detail.church_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_name) %>:</strong></dt>
  <dd><%= @detail.event_name %></dd>
 
 
 
 
</dl>

<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_detail_path(current_user, @detail), :class => 'btn btn-default' %>
 
</div>