 
  
   <div class="toggle">
                  <p>
            <a class="button show-hide" href="javascript:void(0)" rel="nofollow">
              <span class="title">See Markdown Examples</span>
            </a>
          </p>
        <p style="display:none;">
          <a class="button show-hide" href="javascript:void(0)" rel="nofollow">
            <span class="title">Hide Markdown Examples</span>
          </a>
        </p>

          <div style="display:none;">
         
		<div class="row"> 
			<div class="col-sm-offset-1 col-sm-10"> 
 
			<div class="markdown" id="markdown"> 
				<table class="table col-sm-10 " > 
					<caption><h5> Markdown Examples</h5></caption> 
					<tr> <td> [Link](http://example.com/)
		</td> <td> <%= markdown('[Link](http://example.com/)' ) %> </td> </tr> 

		 <tr> <td> *Italic* </td> <td> <%= markdown('*Italic*') %> </td>

		 </tr> <tr> <td> **Bold** </td>

		 <td> <%= markdown('**Bold**') %> </td>

		 </tr>

		 <tr> <td> > </td>

		 <td> <%= markdown('> Indent Whole Paragraph') %> </td>

		 </tr> <tr> <td> # </td>

		 <td> <%= markdown('# Header1') %> </td>

		 </tr> <tr> <td> ## </td>

		 <td> <%= markdown('## Header2') %> </td>

		 </tr> <tr> <td> ### </td>

		 <td> <%= markdown('### Header3') %> </td>

		 </tr> </table> <br>
		</div></div></div><br>
	    
	  
        
        </div>
 </div>
 
 
 
 
