<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "cmifree" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "My Application" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  

  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
	
	
    <main role="main" id="main">
		<a href="#" class="scrollup"></a>
		<div class="container">
            <div class="row"> 
			<div class="col-sm-12">
       <%= render 'layouts/messages' %>
       <%= yield %><br>
	   
	   	<div class="row ">
	         <div class='col-sm-offset-2 col-sm-10'>
                 <footer>
  			        <%= render 'layouts/footer' %>
                 </footer>
            </div>
       </div>
	   
	    </div>
     
 	   </div>
       </div>
    </main>
	  
  </body>
</html>
